<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eBay Shopping">
  <test name="Online Shopping">
    <classes>
  <class name="test.ebay.Login">
      <methods>
      <include name ="Login"/>
       <include name ="Search"/>
       <include name="Addtocart"/>
     </methods>
 
    </class>  
  </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
